* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalnia', sans-serif;
}

body {
    background-image: url('images/fitness-bg.jpeg');
    background-size: cover;
    background-position: center;
    font-family: 'Kalnia', sans-serif;
    color: white;
    overflow-x: hidden;
}

.card {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 50px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    color: white;
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin: 50px 0;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
}

.logo-container h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.nav-links {
    display: flex;
    list-style-type: none;
    margin-left: auto;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    color: rgb(105, 104, 104);
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffffff;
}

.nav-links a.active {
    color: #ffffff;
    font-weight: bold;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: white;
    margin-top: 80px;
}

button {
    padding: 14px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

button:hover {
    background-color: #383737;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }

    .logo-container h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
        padding-left: 0;
        flex-direction: column;
        align-items: center;
    }

    .nav-links.active {
        display: block;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .nav-links a {
        font-size: 1.5rem;
        padding: 15px;
        width: 100%;
        display: block;
        text-align: center;
    }

    button {
        padding: 12px 25px;
        font-size: 1rem;
    }
}

.nav-links a.active {
    color: #ffffff;
}
